@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
  font-family: Russo One;
}

body {
  user-select: none;
  background-color: lightblue;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  outline: 5px solid #4e446d;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: lightskyblue;
}
.inner-container .pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}
.inner-container .pad-bank .drum-pad {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: deepskyblue 3px 3px 5px;
    background-color: lightblue;
  font-size: 1.5em;
  color: #4e446d;
}




.inner-container .controls-container .control p {
  margin-bottom: 0;

}
.inner-container .controls-container #display {
  width: 200px;
  height: 50px;
  background-color: deepskyblue;
  margin: 15px auto;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.5em;
  color: #4e446d;
}





@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}

